In [1]:
import mysql.connector as connector
from mysql.connector import Error

In [3]:
try:
    connection = connector.connect(user="root", password="Soexcitedtograduatein2024!fall")
except Error as er:
    print("Error code {}".format(er.errno))
    print("Error message {}".format(er.errmsg))

In [5]:
#Task 1
cursor = connection.cursor()
query = """USE littlelemondm"""
cursor.execute(query)

#Task 2
show_table_query = """SHOW TABLES"""
cursor.execute(show_table_query)
results = cursor.fetchall()
for result in results:
    print(result)

('bookings',)
('customers',)
('employees',)
('menuitems',)
('menus',)
('orderdelivery',)
('orderdetail',)
('orders',)
('ordersview',)

In [8]:
#Task 3
join_query = """SELECT CONCAT(C.CustomerFirstName, ' ', C.CustomerLastName) AS CustomerName, C.Email, C.Address FROM Customers AS C INNER JOIN Bookings AS B ON B.CustomerID = C.CustomerID INNER JOIN Orders AS O ON O.BookingID=B.BookingID WHERE O.BillAmount > 60;"""
cursor.execute(join_query)
results = cursor.fetchall()
print(cursor.column_names)
for result in results:
    print(result)

('CustomerName', 'Email', 'Address')
('Joakim Iversen', 'joakim@gmail.com', '1234234-234')
('Hiroki Yamane', 'hiroki@gmail.com', '1234-23452')